body{
    font-family: 'Courier New', Courier, monospace;
}

.nameandlogolandingpage {
    /* border: 1px solid black; */
    display: flex;
    margin-top: 7%;
}

.nameandlogolandingpage .name {
    /* border: 1px solid black; */
    width: 50%;
}

.nameandlogolandingpage .name h1{
    font-size: 70px;
    font-weight: bolder;
    margin-top: 15%;
    margin-left: 10%;
    color: greenyellow;
}

.nameandlogolandingpage .name p{
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 1%;
    color: rgb(150, 205, 69);
}

.nameandlogolandingpage .name .buttons{
    /* border:  1px solid black; */
    width: 70%;
    padding: 2%;
    margin: 5% 7%;
}

.nameandlogolandingpage .name .buttons button{
    width: 40%;
    height: 50px;
    margin-left: 1.5%;
    font-weight: bolder;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(12, 25, 37);
    color: yellowgreen;
    border: 1px solid yellowgreen;
}

.nameandlogolandingpage img {
    /* border: 1px solid black; */
    width: 50%;
}

.nameandlogosignup {
    /* border: 1px solid black; */
    display: flex;
    margin-top: 7%;
}

.nameandlogosignup .logoandtagline {
    /* border: 1px solid black; */
    width: 50%;
}

.nameandlogosignup .logoandtagline img{
    width: 90%;
    /* border: 1px solid black; */
    margin-top: 1%;
    margin-left: 5%;
} 

.nameandlogosignup .logoandtagline h1{
    font-size: 55px;
    font-weight: bolder;
    margin-left: 30%;
    margin-top: .1%;
    color: greenyellow;
}

.nameandlogosignup .logoandtagline p{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 30%;
    margin-top: 1%;
    color: rgb(150, 205, 69);
}

.nameandlogosignup .name {
    /* border: 1px solid black; */
    width: 50%;
}

.nameandlogosignup .name h1{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 5%;
    color: rgb(150, 205, 69);
}

.nameandlogosignup .signup{
    border: 1px solid black;
    width: 50%;
    height: fit-content;
    padding: 2%;
    margin: 2% 5%;
}

.nameandlogosignup .signup input{
    width: 80%;
    height: 60px;
    padding: 1% 3%;
    font-weight: bolder;
    border-radius: 5px;
    margin: 2%;
    background-color: rgb(12, 25, 37);
    border: 1px solid greenyellow;
    color: rgb(150, 205, 69);
}

.nameandlogosignup .name button{
    width: 25%;
    height: 60px;
    margin-left: 8%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: rgb(12, 25, 37);
    border: 1px solid greenyellow;
    color: yellowgreen;
    font-weight: bolder;
}

.nameandlogosignup .name p{
    font-size: 14px;
    font-weight: bolder;
    margin-left: 8%;
    margin-top: 3%;
    color: yellowgreen;
}

.nameandlogologin {
    /* border: 1px solid black; */
    display: flex;
    margin-top: 7%;
}

.nameandlogologin .logoandtagline {
    /* border: 1px solid black; */
    width: 50%;
}

.nameandlogologin .logoandtagline img{
    width: 90%;
    /* border: 1px solid black; */
    margin-top: .1%;
    margin-left: 5%;
} 

.nameandlogologin .logoandtagline h1{
    font-size: 55px;
    font-weight: bolder;
    margin-left: 30%;
    margin-top: .1%;
    color: yellowgreen;
}

.nameandlogologin .logoandtagline p{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 30%;
    margin-top: 1%;
    color: rgb(150, 205, 69);
}

.nameandlogologin .name {
    /* border: 1px solid black; */
    width: 50%;
}

.nameandlogologin .name h1{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 28%;
    margin-top: 10%;
    color: yellowgreen;
}

.nameandlogologin .signup{
    /* border: 1px solid black; */
    width: 50%;
    height: fit-content;
    padding: 2%;
    margin: 2% 25%;
}

.nameandlogologin .signup input{
    width: 80%;
    height: 60px;
    padding: 1% 3%;
    font-weight: bolder;
    border-radius: 5px;
    margin: 2%;
    background-color: rgb(12, 25, 37);
    color: yellowgreen;
    font-weight: bolder;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}

.nameandlogologin .name button{
    width: 25%;
    height: 60px;
    margin-left: 28%;
    margin-top: 2%;
    background-color: rgb(12, 25, 37);
    color: yellowgreen;
    font-weight: bolder;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}

.nameandlogologin .name p{
    font-size: 14px;
    font-weight: bolder;
    margin-left: 28%;
    margin-top: 3%;
    color: yellowgreen;
}


/* .nameandlogologin {
    border: 1px solid black;
    display: flex;
}

.nameandlogologin .logoandtagline {
    border: 1px solid black;
    width: 50%;
}

.nameandlogologin .logoandtagline img{
    width: 50%;
} 

.nameandlogologin .name {
    border: 1px solid black;
    width: 50%;
} */