.cryptoBuy{
    color: white;
}

.cryptoBuy{
    /* border: 1px solid white; */
    width: 98%;
    height: fit-content;
    padding: 2%;
    margin: 2% auto;
    display: flex;
}

.cryptoBuy .cryptoInfo{
    /* border: 1px solid white; */
    width: 40%;
    padding: 2%;
    padding-top: 0%;
}

.cryptoBuy .buysell{
    /* border: 1px solid white; */
    width: 50%;
    margin-left: 5%;
    padding: 2%;
}

.cryptoBuy .buysell h3{
    font-size: 40px;
    color: yellowgreen;
}

.cryptoBuy .buysell .cryptoForm{
    /* border: 1px solid white; */
    padding: 2%;
}

.cryptoBuy .buysell .cryptoForm input{
    width: 80%;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(12, 25, 37);
    color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: .5% 3%;
    font-weight: bolder;
    margin-left: 1%;
}

.cryptoBuy .buysell .cryptoForm .feesForm{
    /* border: 1px solid white; */
    width: 98%;
    padding: 2%;
    margin: 2% 1%;
}

.cryptoBuy .buysell .cryptoForm .buybutton{
    width: 30%;
    height: 60px;
    background-color: rgb(12, 25, 37);
    color: yellowgreen;
    border: 1px solid yellowgreen;
    font-weight: bolder;
    border-radius: 5px;
    margin-left: 1%;
    transition: .5s;
}


.cryptoBuy .buysell .cryptoForm button:hover{
    border-radius: 15px;
}
